<h1>Hello, @ViewBag.Name</h1>
<h3>Current Balance = $@ViewBag.Money</h3>

<div class="money">
    <form class="money" asp-controller="Home" asp-action="Process">
        <h4>Deposit | Withdraw </h4>
        <input type="number" name="amount">
        <br><br>
        <button type="submit">Submit</button>
    </form>


<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    @foreach (var change in @ViewBag.Transactions)
    {
        string TheTime = String.Format("{0:M/d/yyyy}", @change.CreatedAt);
        <tr> 
            @if (@change.Amount >= 0)
            {
                <td>+@change.Amount</td>
            }
            else {
                <td>@change.Amount</td>
            }
            <td>@TheTime</td>
        </tr>
    }

</table>
</div>

<br>
<a href="ClearSession">LOGOUT</a> 
