
<h1>Pokémon API</h1>
<p>//////</p>
<div class="info">   
    <h3>Name</h3>
    <p>@ViewBag.Pokemon.Name</p>
    <h3>Types</h3>
    @{
        for (int i = 0; i < @ViewBag.Pokemon.Types.Count; i++)
        {
            <p>@ViewBag.Pokemon.Types[i]</p>
        };
    }
    <h3>Weight</h3>
    <p>@ViewBag.Pokemon.Weight</p>
    <h3>Height</h3>
    <p>@ViewBag.Pokemon.Height</p>
</div>